# Git-related files
.git

# Python
__pycache__/
*.py[cod]
.env
.venv
venv/
*.pyc
*.pyo
*.pyd

# Data files
*.parquet
*.csv

# Docker-related
#.devcontainer/dockerfile

# Environment files
.env
# DLT secrets and config
pipelines/.dlt/secrets.toml
.dlt/secrets.toml
pipelines/credentials.json

.dlt/secrets.toml
.dlt/config.toml


pipelines/.dlt/*/load
pipelines/.dlt/*/normalize
pipelines/.dlt/*/trace.pickle


# IDE
.vscode/
.idea/

dbt/profiles.yml
dbt/dbt_packages/

request_cache/*.json

request_cache/*
!request_cache/.gitkeep

# Misc
*.log