# Git-related files
.git

# Python
__pycache__/
*.py[cod]
.env
.venv
venv/
*.pyc
*.pyo
*.pyd

# Data files
*.parquet
*.csv

# Docker-related
#.devcontainer/dockerfile

# Environment files
.env
pipelines/.dlt/secrets.toml
pipelines/.dlt/config.toml
pipelines/.dlt/.*.toml
pipelines/credentials.json
pipelines/.dlt/
pipelines/request_cache/*.json

# IDE
.vscode/
.idea/

dbt/profiles.yml
dbt/dbt_packages/

# Misc
*.log