# Git-related files
.git

# Python
__pycache__/
*.py[cod]
.env
.venv
venv/
*.pyc
*.pyo
*.pyd

# Data files
*.parquet
*.csv

# Docker-related
#.devcontainer/dockerfile

# Environment files
.env
# DLT secrets and config
pipelines/.dlt/
.dlt/
pipelines/credentials.json
pipelines/request_cache/*.json

.dlt/secrets.toml
.dlt/config.toml

# IDE
.vscode/
.idea/

dbt/profiles.yml
dbt/dbt_packages/

# Misc
*.log