dbt-core==1.11.5
dbt-duckdb==1.10.1
docker==7.1.0
duckdb==1.5.2
gitdb==4.0.12
GitPython==3.1.41
google-auth==2.40.3
gspread==6.2.1
numpy==2.4.4
pandas==3.0.2
prefect==3.6.28
python-dotenv==1.2.2
pyarrow==24.0.0
dlt[motherduck]==1.12.1
# prefect-docker==0.6.5
pydantic==2.13.3
sgp4==2.25
pytest==9.0.3
sqlfluff==4.1.0
sqlfluff-templater-dbt==4.1.0